<h5>Add New Product</h5>
<form action="/save" method="post">
  <input type="text" name="product_name" placeholder="Product Name" required>
  <input type="text" name="product_price" placeholder="Price" required>
  <button type="submit">Save</button>
</form>